a {
	text-decoration: none !important;
}
.hytteikon {
	float: left;
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	line-height: 80px;
}
.noselect {
	user-select: none !important;
}
/*
.bestillingsskjema {
	width: 100%;
	max-width: auto;
	margin: 0 auto;
	min-height: 250px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	background-color: red;
}
*/
.logo {
	text-align: center;
}
.bestillingsskjema {
	width: 100%;
	max-width: auto;
	margin: 0 auto;
	height: auto;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}
input[type=range] {
	width: 100%;
	height: 30px;
}
input[type=checkbox] {
	width: 16px;
	height: 16px;
	margin-top: 8px !important;
}
input[type=datetime-local] {
	width: 100%;
	border: 1px solid white;
	border-radius: 5px !important;
	background-color: transparent;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	height: 30px;
}
.section-separator {
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
}
.split-wrapper {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: inline-block;
	float: left;
}
#roundbox {
	border: 1px solid white;
	border-radius: 5px !important;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	margin-right: 5px;
}
.tekst-venstre {
	font-size: 10pt;
	color: white;
	text-align: left;
	height: 32px;
	line-height: 32px;
	padding-right: 10px;
	float: left;
}
.element-hoyre {
	height: 30px;
	color: #FFF;
	overflow: hidden;
}
#roundbox .element-hoyre {
	width: 16px;
	float: left;
}
.no-select {
	user-select: none !important;
}
#no-text-decoration:hover h1 {
	text-decoration: none !important;
}
hr {
	border-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 0 !important;
}
/*
.panel-heading:hover a, .panel-heading:hover h2 {
	color: #000 !important;
}
*/
.thumbnail-container {
	display: inline-flex;
	margin: 10px auto !important;
}
.fasiliteter-liste {
	margin-top: 10px;
}
.hyttebeskrivelse {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-top: 10px;
}
.fasiliteter-liste div {
	background-image: url('../images/hake.png');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 20px;
	text-indent: 25px;
}
#bunnlink {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-size: 16pt !important;
	color: black !important;
}
#aboutUs {
font-size: 14pt;
margin: 0 auto;
max-width: 500px;
width: 100%;
color: #fff;
padding: 20px;
}
.hytte-header-container {
	height: 80px;
	user-select: none !important;
	cursor: pointer;
}
.hytte-header-container:hover img {
	opacity: 1 !important;
}
.carousel-inner {
	margin: 10px !important;
}
#margin-top-10 {
	margin-top: 10px;
}
#margin-left-10 {
	margin-left: 10px !important;
}
.kontaktskjema {
	font-size: 10pt;
	margin: 0 auto;
	width:400px;
	margin-top: 30px;
	color: #fff;
}
.kontaktskjema input {
	width: 100%;
	color: #000;
	font-size: 10pt !important;
	margin-top: 5px;
	margin-bottom: 10px;
}
.bekreftelse {
	font-size: 10pt;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 10px;
	padding-bottom: 30px !important;
	color: #fff;
}
.bekreftelse input {
	width: 100%;
	color: #000;
	font-size: 10pt;
	margin-bottom: 5px;
	height: auto !important;
}
.bekreftelse .split-wrapper {
	margin: 0px !important;
	overflow-y: visible !important;
}
.bekreftelse input[type=checkbox] {
	width: 20px !important;
	margin-right: 3px;
	float: left;
}
#sporsmal {
	min-width: 100%;
	max-width: 100%;
	height: 100px;
	font-size: 10pt;
	color: #000;
}
#sendInn {
	color: #fff;
	width: 100%;
	background-color: transparent !important;
	border: 1px solid white;
	border-radius: 3px !important;
	padding: 7px;
	box-sizing: border-box;
	margin-top: 8px;
}
.hytte-header-container {
	height: 80px;
}
hr {
	margin-bottom: 0 !important;
}
h3 {
	height: 100%;
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
	font-size: 120%;
}
h2 {
	padding: 0;
	margin: 0;
	color: #FFF;
	text-align: center;
	height: 100px;
	line-height: 100px;
	user-select: none !important;
}
.btn-filtrer {
	height: 30px;
	width: 200px !important;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	color: white;
	clear: both;
	margin-left: 10px; border-width: 2px;
}
#stikkord {
	display: none;
}
#ekstraKommentar {
	min-width: 100%;
	max-width: 100%;
	height: 50px;
	font-size: 10pt;
	color: #000;
	margin-top: 5px;
}
#copyright {
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0;
	margin-top: 20px;
	width: 100%;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	font-size: 9pt !important;
	color: white !important;
}
#copyright p {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
	font-size: 8pt;
}
#copyright a {
	color: white;
}
#copyright a:hover {
	text-decoration: underline !important;
}
.btn-filtrer:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}
.bekreftelse input[type=radio] {
	width: 18px !important;
	margin: 0 !important;
	padding: 0 !important;
}

#collapse1 a {
	color: #444;
}
.bestillingsknapper {
	width: auto;
	float: right !important;
	position: absolute;
	margin-top: 10px;
	bottom: 10px;
	margin-right: 10px;
	right: 0;
	opacity: 0;
	display: none;
}
.bestillingsknapper .btn {
	display: inline-block;
	float: right;
	margin-left: 10px;
}
.thumbnail:hover {
	opacity: 0.7;
	cursor: pointer;
}
h1 {
	text-align: left;
	color: white;
	font-size: 7vw;
	user-select: none !important;
}
#kontakt-header {
	font-size: 5vw;
}
#bekreftelse-header {
	font-size: 6vw;
}