.hytteikon {
	float: left;
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-right: 10px;
}
.bestillingsskjema {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	min-height: 250px;
	padding: 10px;
	box-sizing: border-box;
}
input[type=range] {
	width: 100%;
	height: 30px;
}
input[type=checkbox] {
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
input[type=datetime-local] {
	width: 100%;
	border: 1px solid white;
	border-radius: 5px !important;
	background-color: transparent;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	height: 30px;
}
.section-separator {
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 20pt;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.split-wrapper {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: inline-block;
	float: left;
}
#roundbox {
	border: 1px solid white;
	border-radius: 5px !important;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	margin-right: 5px;
}
.tekst-venstre {
	font-size: 10pt;
	color: white;
	text-align: center;
	height: 32px;
	line-height: 32px;
	padding-right: 10px;
	float: left;
}
.element-høyre {
	height: 30px;
	color: #FFF;
	overflow: hidden;
}
/*
.panel-heading:hover a, .panel-heading:hover h2 {
	color: #000 !important;
}
*/
.panel-title a, .panel-title h2 {
	text-decoration: none !important;
	color: #333 !important;
}
#bunnlink {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-size: 16pt !important;
	color: black !important;
}
#copyright {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-size: 16pt !important;
	color: black !important;
}
#aboutUs{
font-size: 14pt;
margin: 0 auto;
width: 500px;
color: #fff;
margin-top: 30px;
}
.hytte-header-container {
	height: 80px;
}
hr {
	margin-bottom: 0 !important;
}
.carousel-inner {
	margin: 10px !important;
}
#margin-top-10 {
	margin-top: 10px;
}
